<!DOCTYPE html>
<!--
@File   : reset_password.html
@Author : 吴鹰 ({__email})
@Link   : 
@Date   : 8/3/2018, 3:07:13 PM
-->
{% extends "base.html" %}
{% block content %}
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.lable }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.lable }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }} </p>
    </form>
{% endblock content %}